.filter {
    padding:20px 100px;
    text-align: center;
    font-family: Futura;
    background: #222;
    height: 50px;
    width: 100%;
    color: #fff;
    margin: 0px 200px;
    p{
        color:#fff;
    }
}
